include test/*.py

include pyublasext/include/pyublasext/*.hpp

include fortran/daskr/*.sh
include fortran/daskr/*.f
include fortran/daskr/LICENSE
include fortran/daskr/README

include fortran/daskr/*.sh
include fortran/daskr/*.f

include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt
