include configure
include test/*.py
include Makefile.in
include siteconf.py.in
include configvars.py
include src/pyublasext/*.hpp

include fortran/daskr/*.sh
include fortran/daskr/*.f
include fortran/daskr/LICENSE
include fortran/daskr/README

include fortran/daskr/*.sh
include fortran/daskr/*.f
